---
layout: default
title: Tabulary Index

header: [code, company, price, change, change-perc]

rows:
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
- [AA, "Australian company", "$1.38", "2", "-0.36%"]
---


{% if page.header %}
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        {% for item in page.header %}
        <th>{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
  </table>
</div>
{% endif %}
{% if page.rows %}
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

      {% for row in page.rows %}
      <tr>
        {% for item in row %}
          <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}

      </tbody>
  </table>
</div>
{% endif %}
