/**** Tabulary
jmth@tuta.io
*/


/**
  BASE
*/

*{
margin:0;
padding:0;
}

body{
font:15px/1.3 'Open Sans', sans-serif;
color: #5e5b64;
text-align:center;
}

a, a:visited {
outline:none;
color:#389dc1;
}

a:hover{
text-decoration:none;
}

section, footer, header, aside, nav{
display: block;
}

/*-------------------------
The menu
--------------------------*/

nav{
display:inline-block;
margin:60px auto 45px;
background-color:#5597b4;
box-shadow:0 1px 1px #ccc;
border-radius:2px;
}

nav a{
display:inline-block;
padding: 18px 30px;
color:#fff !important;
font-weight:bold;
font-size:16px;
text-decoration:none !important;
line-height:1;
text-transform: uppercase;
background-color:transparent;

-webkit-transition:background-color 0.25s;
-moz-transition:background-color 0.25s;
transition:background-color 0.25s;
}

nav a:first-child{
border-radius:2px 0 0 2px;
}

nav a:last-child{
border-radius:0 2px 2px 0;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact{
background-color:#e35885;
}

p{
font-size:22px;
font-weight:bold;
color:#7d9098;
}

p b{
color:#ffffff;
display:inline-block;
padding:5px 10px;
background-color:#c4d7e0;
border-radius:2px;
text-transform:uppercase;
font-size:18px;
}
.resource {
margin: 20px 0;
}





/**
    CONTAINERS
*/

section{
  margin: 0;
}
.footer {
    padding: 28px 30px;
    color: #fff;
    background: transparent;
    margin-top: 150px;
}
.social-media {
  padding: 70px;
  color: #000;
}
.footer-social a {
    margin: 0 25px;
    color: #000;
}
.footer-social i {
    font-size: 22px;
}

.pale-container {
  padding: 70px;
    background: rgba(162, 162, 162, 0.56);
}
.text-content {
  padding: 20px 40px;
    background: rgba(255,255,255,1);

}
.text-content * {
  color: #000;
}


/* single blog post */

.single-sidebar {
  padding: 70px
}

.single-content {
  padding: 70px;
  border-top: 5px solid black;
}

/**
   OVERRIDES
*/

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.table-patch {
  padding: 0;
  /*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    */
}

body {

    font: 15px/1.3 'roboto', sans-serif;
    color: #79797994
  }

h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
  color: #000;
  letter-spacing: 1px;
  font-weight: 800;
  text-align: center;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.1rem;
}
p {
  font-size: inherit;
    font-weight: bold;
    color: inherit;
    margin: 20px 0;
    text-align: left;
}
a, a:visited {
    outline: none;
    color: #7d9098;
    text-decoration: none;
}


.btn-black {
  font-size: 11px;
    padding: 2px 14px;
    letter-spacing: 1px;
  border: 2px solid #000;
    color: #fff !important;
    display: inline-block;
    background-color: #000;
    padding: 7px 20px 8px;
    width: auto;
}


.sidebar {
  border-top: 5px solid #a34ee6;
}


.section-headline {
  margin-top: 50px;
}



h1.site-title {
  position: absolute;
    left: 25px;
}
@media (max-width: 779px) {
  h1.site-title {
    position: relative;
    left: 0;
  }
}

nav {
    display: inline-block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}
nav a {
  color: #000 !important;
  font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 40px 30px;
}
nav.home .home, nav.projects .projects, nav.services .services, nav.contact .contact {
    background-color: #a244e6;
    color: #fff !important;
}



.row.blog {
  margin-right: 0;
margin-left: 0;
}
.blog {
  padding: 50px;
  background: #fff;
}
.blog-post {
  text-align: left;
}
.post-title {
  font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    color: #000;
    margin: 40px 0 0 0;
    font-weight: 600;
}
.post-author {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #797979;
}
.blog-post p {
    padding: 22px 0 0 0;
    margin: 0;
    font-weight: 400;
}
.blog-post-images img {
    max-width: 101%;
}


.separator-line {
  height: 5px;
  width: 65px;
  margin: 7% 0;
  background: #000;
}

/*** Table Styles **/

.row {
    margin-right: 0;
    margin-left: 0;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
  border-top: 5px solid black;
 }
.tbl-content{
  height: 490px;
  overflow-x:auto;
  margin-top: 0px;
  border-bottom: 5px solid black;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  background: rgba(76, 76, 76, 0.14);
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}


::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
















/**/
