

<div class="row blog">

  {% for item in site.posts limit: 20 %}
  <div class="col-md-6 col-sm-6 xs-margin-bottom-ten">
    <div class="blog-post">
      <div class="blog-post-images"><a href="{{ item.permalink | prepend: site.baseurl }}">
          <img src="{{ item.feature | prepend: site.baseurl }}" alt="{{ item.title }}"></a></div>
            <div class="post-details">
              <a href="{{ item.permalink | prepend: site.baseurl }}" class="post-title">
                {{ item.title }}
              </a>
              <span class="post-author">Posted by {{ item.author }} | {{ item.date | date: "%d %b %Y" }}</span>
              <p>{{ item.description }}</p>
            </div>
        <div class="separator-line"></div>
      </div>
    </div>
    {% endfor %}

</div><!-- row blog -->
