<div class="row">
  <div class="col-md-12 text-center">
     <a class="btn btn-black btn-small margin-four no-margin-bottom" href="/posts">View All Blog</a>
  </div>
</div>
<div class="row no-gutters social-media">

  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    <!-- social media link -->
                  <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                  <a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                  <a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
     <!-- end social media link -->
    </div>

</div>
</div><!-- main -->
