<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,800" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/tablescroll.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">

</head>
