<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
   <div id="main" class="">

    <nav v-bind:class="active" v-on:click.prevent>
      <h1 class="site-title">{{ site.title }}</h1>
      <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
      <a href="#" class="projects" v-on:click="makeActive('projects')">Projects</a>
      <a href="#" class="services" v-on:click="makeActive('services')">Services</a>
      <a href="#" class="contact" v-on:click="makeActive('contact')">Contact</a>
    </nav>

   <div class="row no-gutters">

    <div class="col-md-8 col-sm-8 xs-margin-bottom-ten table-patch">
     <section>
       {{ content }}
     </section>
    </div><!-- container -->
    <div class="col-md-4 col-sm-4 xs-margin-bottom-ten sidebar">
      <section class="text-content">
        <h1>Fixed Table header</h1>
        <h2>Lorem Ipsum</h2>
        <h3>Lorem Ipsum</h3>

        {% raw %}
        <p>You chose <b>{{ active }}</b></p>
        {% endraw %}


        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </section>
    </div>

    </div><!-- main -->


    {% include blog3.html %}

    {% include footer.html %}



    <script type="text/javascript">
    var demo = new Vue({
    el: '#main',
    data: {
      active: 'home'
    },
    methods: {
      makeActive: function(item){
        this.active = item;
      }
    }
    })
    </script>
  </body>
</html>
